
      <h2>Call for Talks, Papers and Tutorials</h2>

<p>PyCon UK 2008 is an independent, community-run, community-controlled and not-for-profit conference dedicated to the Python programming language, Python applications, toolkits and frameworks. It also features social events and a chance to meet fellow Python users. It is organised by members of Python User Groups from across the United Kingdom.</p>

<p>Last Year, PyConUK 2007 was attended by over 200 delegates and featured around 50 talks and tutorials, as well as a conference dinner and two pub events.</p>

<p>PyCon UK 2008 will be taking place in Birmingham City Centre from the 12th-14th September. We are after Talks, Tutorials and Other events. To submit a talk, please <a href="/submit.html">visit our submissions page</a>.

<p>We're looking for proposals on all aspects of Python - programming from novice to advanced levels; applications and frameworks, or how you have been involved in introducing Python into your organisation.</p>

<p>We especially welcome first-time speakers; we are community conference and we are eager to hear about your experience. If you have friends or colleagues who have something valuable to contribute, twist their arms to tell us about it! Please also forward this Call for Papers to anyone that you feel may be interested.</p>

<h3>More information about presenting at PyCon UK</h3>

<p>We will accept a broad range of presentations, from reports on academic and commercial projects to tutorials and case studies. As long as the presentation is interesting and potentially useful to the Python community, it will be considered for inclusion in the program.</p>

<p>Can you show the conference-goers something new and useful? Can you show attendees how to: use a module? explore a Python language feature? package an application?</p>

<p>Most talks will be within 30-45 minutes. There will also be a dedicated Lightning Talk session for talks no longer than five minutes.</p>

<p>PyconUK is a not for profit community conference, so we sadly cannot reward speakers (but what price on glory!) and speakers will benefit from a reduced conference fee.</p>

<h3>Important Dates</h3>
<ul>
    <li>Submission deadline: July 1st, 2008 (but the sooner the better!)</li>
    <li>Deadline for any slides, handouts: August 20th, 2008</li> 
</ul>

<h3>PyConUK Topics</h3>

<p>Suitable topics for PyConUK presentations include, but are not limited to:</p>
<ul>
    <li>Core Python</li>
    <li>Other implementations: Jython, IronPython, PyPy, and Stackless</li>
    <li>Python libraries and extensions</li>
    <li>Python 3k</li>
    <li>Databases</li>
    <li>Documentation</li>
    <li>GUI Programming</li>
    <li>Game Programming</li>
    <li>Network Programming</li>
    <li>Open Source Python projects</li>
    <li>Packaging Issues</li>
    <li>Programming Tools</li>
    <li>Project Best Practices</li>
    <li>Embedding and Extending</li>
    <li>Science and Math</li>
    <li>Web-based Systems </li>
</ul>
Submission Format

Proposals should be succinct summaries containing the following information:
<ul>
    <li>Author name(s)</li>
    <li>Contact Information</li>
    <li>Preferred timeslot (30 minutes, 45 minutes, 60 minutes)</li>
    <li>Title of proposed presentation</li>
    <li>Summary of proposed presentation</li>
    <li>Presentation outline</li>
    <li>Intended audience (non-programmers, beginning programmers, advanced users, CPython developers, etc.) </li>
</ul>
<p>Please submit your proposal(s) <a href="submit.html">here</a>.
</p>

<p>Session lengths include time for audience questions, and session switching.
   You should budget at least five minutes for questions and five minutes for changeover; for example, a 30-minute talk will be 20 minutes of presentation, 5 minutes of questions, and allow 5 minutes for delegates to switch sessions.</p>

<h3>Submission Mechanics</h3>

<p>If your proposal is accepted, you have the option of including a companion paper along with your presentation. The paper will get published on our web site. We suggest, but do not require, that authors place their papers under the Creative Commons license.</p>

<p>Presentations and papers may be in text, HTML, or PDF.</p>

<p>Submit your proposals <a href="/submit.html">here</a>
</p>

<p>Meanwhile, if you have questions or want to suggest another conference event,
         please <a href="contacts.html" >contact the organisers</a>.
      </p>

