
      <h3 align="center">Contacting the Organisers of PyCon UK</h3>

      <br />

      <p align="center">
      <img src="images/lord_kitchener.jpg" width="136" height="179" alt="We need your input" />
      </p>
      <br clear="all" />

      <h4 align="center">We want your input!</h4>

      <p align="center">You can email us at
                        <br />
                        help -AT- pyconuk -DOT- org
      </p>

      <h3 align="center">Wiki</h3>
      <p align="center">
         We have a 
         <a href="http://www.pyconuk.org/community/" >Conference Wiki</a>
         where you can offer your help, suggest ideas, and contact other
         Pythonistas attending the conference.
      </p>

