
        <h2>Pycon UK Talks</h2>

        <p>
          PyCon UK will include formal Talks and Tutorials, Lightning Talks
          and Open Space.
        </p>

        <h3>Talks</h3>

        <p>
        <img src="images/talking.jpg" width="200" height="150" alt="Nicholas Chauvat talking at Europython, photo by Duncan Grisby" align="left" />
           We'll be running the conference in four streams, with
           full tutorials on the first day, Friday 12th September, and
           Talks, shorter Tutorials, Lightning Talks and Open Space on
           Saturday and Sunday.
        </p>
        <br clear="all" />
        <p>
          Here are the abstracts of 
          <a href="/talk_abstracts.html">Accepted Talks</a>, and the 
          <a href="/timetable.html">Talks Schedule</a>.
        </p>

        <h3>Tutorials</h3>

        <p>
        <img src="images/talking2.jpg" width="150" height="200" alt="David Chan talking at Europython, photo by Duncan Grisby" align="right" />
           Friday 12th September will be a <strong>Tutorial Day</strong>,
           with half-day tutorials, including:
        </p>
        <ul>
          <li>Generator Programming, by David Beazley</li>
          <li>Introduction to IronPython, Michael Foord</li>
          <li>Introduction to Python, John Pinner and Nick Booker</li>
          <li>The Reportlab Toolkit, Andy Robinson</li>
          <li>GUI Programming with PyQt4, Mark Summerfield</li>
          <li>Introduction to Django, Jacob Kaplan-Moss</li>
          <li>Google AppEngine CodeLab, Mano Marks</li>
          <li>Code Clinic, Raymond D Hettinger and David Jones</li>
        </ul>
        <p>
           Here is the 
           <a href="/timetable.html">Schedule</a>.
        </p>
        <br clear="all"/>

        <h3>Call for Talks, Papers and Tutorials</h3>

        <p>Talks submission is now closed, but there is still the
           opportunity to make a Lightning Talk, or join/organise
           an Open Space or BoF session. These are arranged as
           impromptu events on the day.
        </p>
        <!--
        <p>We can make room for last-minute proposals, but please hurry
           as we have to finalise the room bookings.
           The call for proposals is <a href="callforpapers.html">here</a>
           and you can submit your proposals <a href="/submit.html">there</a>.
        </p>
        -->
        <p>
           If you have any ideas for Lightning Talks or BoF's and would like
           to discuss them, don't be shy!
           <a href="contacts.html" >Contact the Organisers</a> with
           your ideas, or put them up on the
           <a href="http://www.pyconuk.org/community/OpenSpace">Conference wiki</a>.
        </p>

        <h3>Lightning Talks</h3>

        <p>Lightning Talks are a popular feature of Python Conferences,
           and are ideal for people who have something to say but are not
           ready for a full talk. You can float an idea, describe a project
           you're working on, solicit help, or even have a rant. The idea
           is that each speaker is given just 5 minutes to talk, and no
           more.
        </p>
        <p>
           Planning and scheduling of Lightning Talks talks place
           at the conference, which preserves spontaneity.
        </p>
        <p>For people who haven't experienced lightning talks before,
           we're having a half-hour session on Saturday, enough for six
           talks. That's just to let you get the hang of it, so you can
           prepare your Lightning Talk for presentation in the 90 minute
           session on Sunday.
           Lightning talks are a good way of attracting interest in your
           project.
        </p>

        <h3>Open Space</h3>

        <p>
        <img src="images/planning_open_space.jpg" width="150" height="200" alt="Planning Open Space at Europython, photo by Duncan Grisby" align="left" />
           If you'd like to arrange an Open Space event as part of PyCon UK,
           please <a href="contacts.html" >Contact the Organisers</a>. Open
           Space is 'organised' on the day, with impromptu talks and
           panels, like a mini unconference. Some ideas which have been
           put forward include PyQt Friends, Key Signing, Open Street Map,
           Python Blogging,
           and Applications for Health Services.
        </p>
        <br clear="all" />

        <h3>Submission Formats</h3>

        <p>We will be publishing as many talks as possible on the PyCon UK
           website, and on the Conference CD. If you do not wish us to
           publish your talk, then you will be able to specify this with
           your submission, although as this is for the Community we
           hope that all the talks will be made available.
        </p>
        <!--We'll need a release form-->

        <p>We can accept talks in any of the common formats, Open
           Document Format, PowerPoint, MagicPoint, etc, but for ease of
           publishing would prefer:
        </p>

        <ul>
          <li>HTML, this makes distribution a breeze and is truly open.
              There are a number of good systems out there, for example:
              <ul>
                 <li><a href="http://www.robertnyman.com/ajax-s/">Ajax-S</a></li>
                 <li><a href="http://meyerweb.com/eric/tools/s5/s5-intro.html">S5</a>. There is a Python-docutils<a href="http://docutils.sourceforge.net/docs/user/slide-shows.html"> front end to S5</a> available.</li>
                 <li><a href="http://icant.co.uk/domslides/">DOMslides</a></li>
              </ul>
              or,
          </li>
          <li>PDF</li>
        </ul>
        <!--PyCon US have some good Speaker Notes: 
