
      <h2>The Venue for PyCon UK</h2>

      <p>Birmingham Conservatoire has excellent facilities for our conference:
      </p>

      <h3>The Recital Hall</h3>
      <p>This auditorium can hold 150 people in tiered seating. The stage
      is backed by an organ and projection screen. It is suitable for a  
      single speaker or small panel. The Piano can be removed.
      </p>
      <br /><img src="images/auditorium.jpg" alt="Recital Hall" height="250px"
        title="Seating area of Recital Hall" />
       
      <h3>The Lecture Theatre</h3>
        
      <h3>The Adrian Boult Hall</h3>
      <p>The Conservatoire's largest auditorium can hold 520 people in tiered
      seating. The large stage area is suitable for a single speaker or a 
      panel of speakers.
      </p>
      
      <h3>The Arena Foyer</h3>
      <p>The Arena Foyer can sit 100 people, all at floor level. It backs onto 
      the Adrian Boult Hall. A projector can easily be setup. A gallery 
      overlooks the 'stage', stairs either side provide access. No seating is 
      placed on this gallery.
      </p>
      <br /><img src="images/prop-room1.jpg" alt="Arena Foyer" height="250px"
        title="The Arena Foyer, looking toward the gallery from the stage" />
        
      <h3>Reception Area</h3>
      <p>Between the Arena Foyer and the Ardrian Boult hall, is a reception 
      area with tables and seating. Suitable as a meeting and relaxation area 
      for small groups. 
      </p>
      <br />
      <img src="images/reception1.jpg" alt="Reception area"
        title="Reception area with tables" />
      <img src="images/reception2.jpg" alt="Reception area"
        title="Reception area with tables, looking toward Arena Foyer" />
      <img src="images/reception3.jpg" alt="Reception area"
        title="Reception are with bench seating. Andrian Boult Hall is to left" />
      
      <h3>Meeting Rooms</h3>
      
      <h3>Coffee Shop</h3>
      <p>A coffee shop is located in the reception area for drinks and snacks.
      </p>
      <br /><img src="images/reception-cafe.jpg" alt="Coffee shop" />
      
      <h3>The Canteen</h3>
      <p>The onsite canteen can cater for at least 150 people. It can provide 
      good value, convenient lunch for all attendees. This can be included in 
      the ticket price or an extra.</p>
      <img src="images/canteen1.jpg" alt="Canteen" height="250px"
        title="Canteen seating and searving area, out of camera is further seating" />
      
      <p>There's plenty of space for expansion as the conference grows.
      </p>
